#slides-as-code {
  background-image: url("ada_logo.svg");
  background-repeat: no-repeat;
  background-position: right top;
  background-color: white;
  color: #ff00ea;
  font: 46px "Comic Sans";
  font-style: italic;
}

#slide-3 {
  background-image: linear-gradient(45deg, yellow, blue);
  color: black;
  font: 46px "sans-serif";
}


/* Markdown styles */

.heading {
  margin-left: 46px;
  background-color: grey;
  font: 46px "Comic Sans";
  font-weight: bold;
  color: red;
}

.paragraph {
  margin-left: 26px;
  background-color: #f0f0f0;
  font: 20px "Comic Sans";
  color: blue;
}

.code-span {
  font-family: "Ubuntu Sans Mono", "Fira Code", monospace;
  font-size: 20px;
  font-weight: bold;
}

.link {
  color: green;
}
